$mainColor: white;
.backgroundImage{
	background-image: url(https://www.upload.ee/image/14514588/wallpaperflare.com_wallpaper__11_.jpg);
	background-size: cover;
	width: 100%;
	height: 100vh;
	display: flex;
  flex-direction: column;
}
.imageText{
	width: 100%;
  margin-top: auto;
	background-color: rgba(0, 0, 0, 0.65);
	align-self: flex-end;
	text-align: center;
		h2{		
			font-weight: 100 !important;
			font-family: bellafair;
			color: $mainColor;
			padding: 40px 10px !important;
			text-transform: uppercase;
			font-size: 30px;
			letter-spacing: 5px;
	
		}
}
#backgroundImageAnchor{
	color: $mainColor;
	text-decoration: none;
	font-size: 20px;
}

//Material UI Arrow
.css-i4bv87-MuiSvgIcon-root{
	position: relative;
	top: 5px;
}

@media (max-width: 800px) {
	.imageText{	
		h2{		
			padding: 10px !important;
		}
	}
}
@media (max-width: 680px) {
	.backgroundImage{
		background-image: url(https://www.upload.ee/image/14429269/wallpaperflare.com_wallpaper.jpg);
	}
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
