#events{
	padding-top: 85px;
	margin: 0px 70px;		
}
.eventWrapper{
	margin-right: 100px !important;
	
}
#blurLayer{
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(3px);
}
.styles-module_sliderBase__swkx1{
	padding-bottom: 100px;
}
.styles-module_slider__o0fqa{
	margin-top: 50px;
	padding-bottom: 100px;
}
.eventsWrapper{
	background-image: url(https://intro819.files.wordpress.com/2017/11/michelangelo_caravaggio_021.jpg);
	background-size: cover;
	height: 100vh;
	width: 100vw;
}
#activeEventsHeader{
	color: #ccd6f6;
	font-size: 20px;
	letter-spacing: 0.13em;
	font-weight: 1;
	margin-bottom: -25px;
}
.styles-module_item-provider__YgMwz{
	cursor: default !important;
}

[data-arrow~="right"] > button{
	background: url(https://cdn.dsmcdn.com/web/production/slick-arrow.svg) 50% no-repeat;
	border: none;
	cursor: pointer;
	height: 80px;
	width: 20px;
	right: -35px;
	margin-top: 25px;
	outline: 0;
	position: relative;
	position: absolute;
}
[data-arrow~="left"] > button{
	background: url(https://cdn.dsmcdn.com/web/production/slick-arrow.svg) 50% no-repeat;
	border: none;
	cursor: pointer;
	height: 80px;
	left: -35px;
	margin-top: 25px;
	width: 20px;
	outline: 0;
	position: relative;
	position: absolute;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}


@media (min-width: 869px) {
	#events{
		padding-top: 120px;
	}
}

@media (max-width: 720px) {
	[data-arrow~="right"] > button, [data-arrow~="left"] > button {
		display: none;
	}
	#events{
		margin: 0px 20px !important;
	}
}
