#events{
	padding-top: 120px;
	margin: 0px 70px;		
}
.styles-module_slider__o0fqa{

}
.eventsWrapper{
	background-image: url(https://intro819.files.wordpress.com/2017/11/michelangelo_caravaggio_021.jpg);
	background-size: cover;
}
#activeEventsHeader{
	color: #ccd6f6;
	font-size: 20px;
	letter-spacing: 0.13em;
	font-weight: 1;
}
.styles-module_item-provider__YgMwz{
	cursor: default !important;
}

[data-arrow~="right"] > button{
	background: url(https://cdn.dsmcdn.com/web/production/slick-arrow.svg) 50% no-repeat;
	border: none;
	cursor: pointer;
	height: 80px;
	width: 20px;
	right: -35px;
	margin-top: 25px;
	outline: 0;
	position: relative;
	position: absolute;
}
[data-arrow~="left"] > button{
	background: url(https://cdn.dsmcdn.com/web/production/slick-arrow.svg) 50% no-repeat;
	border: none;
	cursor: pointer;
	height: 80px;
	left: -35px;
	margin-top: 25px;
	width: 20px;
	outline: 0;
	position: relative;
	position: absolute;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}


@media (max-width: 720px) {
	[data-arrow~="right"] > button, [data-arrow~="left"] > button {
		display: none;
	}
	#events{
		margin: 0px 20px !important;
	}
}
