$navAnchorColor: #ccd6f6;


@media (min-width: 860px) {
	.nav-links > a {
  display: inline-block;
  position: relative;
}

.nav-links > a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $navAnchorColor;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.nav-links > a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

* {
  box-sizing: border-box;
}


}

body {
  margin: 0px;
  font-family: Comic Sans;
}
.logoWrapper{
	display: inline-block;
}
.logo{
	padding: 0px 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	p{
		color: $navAnchorColor;
		font-weight: 100 !important;
	}
}
.museumName{
	margin-top: 20px;
}
#museum-logo{
	width: 35px;
	filter: invert(92%) sepia(9%) saturate(6423%) hue-rotate(184deg) brightness(110%) contrast(93%);
}


a {
  color: #009a87;
  font-size: 12px !important;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px 0px;
	margin: 20px 40px;
  transition: color 0.25s linear;	
}

.scrolledDownNav{
	background-color: rgba(0, 0, 0, 0.95) !important;
	padding-top: 15px !important;
}

.nav {
  width: 100%;
  position: fixed;
  z-index: 200;
  padding: 0px 60px;
  padding-top: 0px;
	background-color: transparent;
	transition: background-color 0.5s linear, 		padding-top 0.5s linear;

  height: auto;
  display: flex;
  justify-content: center;
		.nav-links {
	  display: inline;
	  font-size: 18px;
	  margin-top: 13px;
			a {
			  display: inline-block;
			  margin: 13px 20px;
				padding-bottom: 10px;
			  font-size: 14px;
			  text-decoration: none;
			  color: $navAnchorColor;				
			}
			a:hover {
			  color: white;
			}
		}
	.nav-btn {
  display: none;
	}
}

.nav > #nav-check {
  display: none;
}


@media (max-width: 1100px) {
  .nav {
    padding-left: 20px;
    padding-right: 20px;
		.nav-links {
    right: 40px;
  	}
  }
}
@media (max-width: 600px) {
	.nav-links{
		width: 100% !important;
	}
}

@media (max-width: 870px) {
	.scrolledDownNav{
		background-color: transparent !important;
	}
	.logoWrapper{
		display: none;		
	}
  .nav-links {
    background-color: #030301;
  }
  .nav {		
		justify-content: center;
    padding-bottom: 20px;
    padding-top: 80px;
			.nav-links {
	    position: absolute;
	    display: block;
			padding-top: 73px !important;
			background-image: url(https://collectionapi.metmuseum.org/api/collection/v1/iiif/437630/1930107/main-image);
			margin-top: 0px;
	    width: 50%;
	    height: 0px;
	    overflow-y: hidden;
			overflow-x: hidden;
    	transition: width 475ms ease-out, transform 450ms ease, border-radius 0.8s 0.1s ease;
			transform: translatex(0) !important;
	    top: 0px;
	    left: 0px;
	    z-index: 200;
	    text-align: center;
				a {
			    display: block;
			    width: 100%;
					margin-left: 0px;
			  }
	  	}
			.nav-btn {
	    display: inline-block;
			z-index: 300;
	    position: absolute;
	    left: 0px;
	    top: 30px;
				label {
		    display: inline-block;
		    width: 50px;
		    height: 50px;
		    padding: 13px;
					span {
				    display: block;
				    width: 25px;
				    height: 10px;
				    border-top: 2px solid #009a87;
				  }
		  	}
	  	}
		
	}
  .utility-links {
    display: none;
  }	
  .nav-links {
    height: 100vh !important;
		width: 100%;
  }
  .rolledUpNavLinks {
    width: 0px !important;
		padding: 0px !important;		
  }
}