$navAnchorColor: #ccd6f6;

* {
  box-sizing: border-box;
}

.header {
  text-align: center;
  color: white;
  background-color: #05a799;
  padding: 5px 0px;
  position: fixed;
  width: 100%;
  z-index: 201;
  font-size: 15px;
}
body {
  margin: 0px;
  font-family: Comic Sans;
}
.logoWrapper{
	display: inline-block;
}
.logo{
	padding: 0px 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	p{
		color: $navAnchorColor;
		font-weight: 100 !important;
	}
}
#museum-logo{
	width: 35px;
	filter: invert(92%) sepia(9%) saturate(6423%) hue-rotate(184deg) brightness(100%) contrast(93%);
}

.utility-links {
  display: inline;
  font-size: 18px;
  width: 30%;
  position: relative;
  left: 13%;
  margin-top: 10px;
		a {
	  display: inline-block;
	  padding: 13px 20px;
	  font-size: 14px;
	  text-decoration: none;
	  color: #009a87 !important;
		}
}

a {
  color: #009a87;
  font-size: 12px !important;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px 0;
  transition: color 0.25s linear;
}
.searchBar {
  display: inline;
  color: #009a87;
}
.text-input {
  outline: 0;
  border-width: 0 0 1px;
  border-color: #009a87;
}
#resumeButton {
  border: 3px solid #ff5277;
}

.scrolledDownNav{
	background-color: rgba(0, 0, 0, 0.95) !important;
	padding-top: 15px !important;
}

.nav {
  width: 100%;
  position: fixed;
  z-index: 200;
  padding: 0px 60px;
  padding-top: 0px;
	background-color: transparent;
	transition: background-color 0.5s linear, 		padding-top 0.5s linear;

  height: auto;
  display: flex;
  justify-content: center;
		.nav-links {
	  display: inline;
	  font-size: 18px;
	  margin-top: 13px;
			a {
			  display: inline-block;
			  padding: 13px 20px;
			  font-size: 14px;
			  text-decoration: none;
			  color: $navAnchorColor;
			}
			a:hover {
			  color: white;
			}
		}
	.nav-btn {
  display: none;
	}
}


.nav-link-number {
  color: #cedfdb !important;
}

.nav > #nav-check {
  display: none;
}


@media (max-width: 1100px) {
  .nav {
    padding-left: 20px;
    padding-right: 20px;
		.nav-links {
    right: 40px;
  	}
  }
}
@media (max-width: 860px) {
	.logoWrapper{
		display: none;		
	}
  .li {
    position: absolute;
    right: 110px;
    margin-bottom: 60px;
  }
  .nav-links {
    background-color: #030301;
  }
  .nav {		
		justify-content: center;
    padding-bottom: 20px;
    padding-top: 80px;
			.nav-links {
	    position: absolute;
	    display: block;
			padding-top: 73px !important;
			margin-top: 0px;
	    width: 50%;
	    height: 0px;
	    overflow-y: hidden;
			overflow-x: hidden;
    	transition: width 475ms ease-out, transform 450ms ease, border-radius 0.8s 0.1s ease;
			transform: translatex(0) !important;
	    top: 0px;
	    left: 0px;
	    z-index: 200;
	    padding-left: 30px;
	    text-align: center;
				a {
			    display: block;
			    width: 100%;
			  }
	  	}
			.nav-btn {
	    display: inline-block;
			z-index: 300;
	    position: absolute;
	    left: 0px;
	    top: 30px;
				label {
		    display: inline-block;
		    width: 50px;
		    height: 50px;
		    padding: 13px;
					span {
				    display: block;
				    width: 25px;
				    height: 10px;
				    border-top: 2px solid #009a87;
				  }
		  	}
	  	}
		
	}
  .utility-links {
    display: none;
  }
  .cart {
    position: absolute;
    right: 10px;
    margin-left: 20px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
	
  .nav-links {
    height: 100vh !important;
		width: 100%;
  }
  .rolledUpNavLinks {
    width: 0px !important;
		padding: 0px !important;		
  }
}

